.profile {
    margin-right: 25px;
}

/* 标签第二部分 */
.menu2 {
    background-color: #ff5800;
}

.categoryli {
    text-decoration-color: white;
}

#menu-form {
    float: right;
    padding-left: 20px;
    padding-top: 5px;
}

.mycolor {
    background: #ff5800;
}
